<div class="form-group">
    <%= form_with(model: [@single_chatroom, @message], remote: true, class: "d-flex",
    data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"} ) do |f| %>
        <%= f.text_field :body, id: "chat-text", class: "form-control msg-content", autocomplete: "off" %>
        <%= f.submit data: {disable_with: false}, class:"btn btn-primary"  %>
    <% end %>
</div>