<div class="item">
    <img src="" alt="" />
    <div class="texts">
        <span><%= link_to user.username, user, class:"", data: {turbo: "false"} %></span>
        <p>Lorem ipsum dolor sit amet</p>
    </div>
</div>