<div class="login">
    <div class="item">
        <h2>Welcome to MeowChat</h2>
        <div class="meow_list_button">
        <% if current_user %>
        <%= link_to "Start Chatting", chatrooms_path, class:"btn btn-primary" %>
        <%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete}, class:"nav-link" %>
        <% else %>
        <%= link_to "Log In", new_user_session_path, class:"btn btn-primary"  %>
        <%= link_to "Sign Up", new_user_registration_path, class:"btn btn-primary" %>
        <% end %>
        </div>
    </div>