/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

body{
  background-image: url("bg2.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: white;
  background-size: cover;
}
 
.meowchat_container
{
  width: 80vw;
  height: 90vh;
  background-color: rgba(17, 25, 40, 0.3);
  backdrop-filter: blur(19px) saturate(180%);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;

  .meowchat_list
  {
    flex: 1;
    display: flex;
    flex-direction: column;

    .meowchat_userInfo
    {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .user
      {
        display: flex;
        align-items: center;
        gap: 20px;
        
        img{
          content: url("avatar.png");
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;
        }

        h2
        {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
          font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
          "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
        }
      }
    }

    .chatList
    {
      flex: 1;
      overflow: scroll;

      .search
      {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
    
        .searchBar
        {
          flex:1;
          background-color: rgba(17,25,40,0.5);
          display: flex;
          align-items: center;
          gap: 20px;
          border-radius: 10px;
          padding: 10px;
        }
    
        .add
        {
          width: 36px;
          height: 36px;
          background-color: rgba(17,25,40,0.5);
          padding: 10px;
          border-radius: 10px;
          cursor: pointer;
        }
      }         

      .item
      {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid #dddddd35;
     
        img.group
        {
          content: url("avatar.png");
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;   
        }

        img.user
        {
          content: url("avatar.png");
          width: 50px;
          height: 50px;
          border-radius: 50%;
          object-fit: cover;   
        }

        .texts
        {
          display: flex;
          flex-direction: column;
          gap: 10px;
     
          span{
            font-weight: 500;
          }
     
          p{
              font-size: 14px;
              font-weight: 300;
          }
        }
      }
    }
  }

  .meow_chat
  {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top
    {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #dddddd35;

      .user
      {
        display: flex;
        align-items: center;
        gap: 20px;

        img
        {
            content: url("cat-face.png");
            width: 60px;
            height: 60px;
            border-radius: 50%;
            object-fit: cover;
        }

        .texts
        {
          display: flex;
          flex-direction: column;
          gap: 5px;

          span
          {
            font-size: 18px;
            font-weight: bold;  
          }

          p
          {
            font-size: 14px;
            font-weight: 300;
            color: #a5a5a5;  
          }
        }     
      }
    }

    .center
    {
      padding: 20px;
      flex: 1;
      overflow: scroll;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .message
      {
        max-width: 70%;
        display: flex;
        gap: 20px;

        &.own
        {
            align-self: flex-end;

            .texts
            {
              p{
                background-color: #5183fe;
              }
            }
        }
      
        img
        {
          content: url("avatar.png");
          width: 30px;
          height: 30px;
          border-radius: 50%;
          object-fit: cover;
        }
        .texts
        {
          display: flex;
          flex-direction: column;
          gap: 5px;

          img
          {

            width: 100%;
            height: 300px;
            border-radius: 10px;
            object-fit: cover;
          }

          p{
            padding: 20px;
            background-color: rgba(17, 25, 40, 0.3);
            border-radius: 10px;
          }

          span{
            font-size: 13px;
          }
        }
      }
    }
  }

  .login{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 100px;

    .item
    {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      .meow_list_button
      {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;

        .meow_button{
          width: 100%;
          padding: 20px;
          border: none;
          background-color: #1f8ef1;
          color: white;
          border-radius: 5px;
          cursor: pointer;
          font-weight: 500;
          }
        }
      }
    }

    .separator{
        height: 80%;
        width: 2px;
        background-color: #dddddd35;
    }
  }  
}
 
 .loading
 {
   padding: 50px;
   font-size: 36px;
   border-radius: 10px;
   background-color: rgba(17, 25, 40, 0.9);
 }